<a href="https://colab.research.google.com/github/37stu37/AI/blob/master/samplingFromDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
from sklearn.utils import shuffle

In [157]:
os.chdir('/content/drive/My Drive/04_Cloud/01_Work/GNS/CDF_2019/4Rob/output_algorithm_data_sample')
!ls

36830_20000.csv  sample100000.csv  sample50K.csv  samplingFromDataset.ipynb

In [0]:
data = pd.read_csv('36830_20000.csv')

In [159]:
data.columns

Index(['Unnamed: 0', 'edge_ID', 'ID_unique', 'ID_type', 'X_node', 'Y_node',
       'ID_unique_haz', 'ID_type_haz', 'X_node_haz', 'Y_node_haz',
       'event_magnitude', 'rng', 'scenario'],
      dtype='object')

In [0]:
sample = data.sample(50000, random_state=0)
sample.drop(['Unnamed: 0', 'edge_ID', 'scenario'], axis=1, inplace=True)

In [161]:
sample.columns

Index(['ID_unique', 'ID_type', 'X_node', 'Y_node', 'ID_unique_haz',
       'ID_type_haz', 'X_node_haz', 'Y_node_haz', 'event_magnitude', 'rng'],
      dtype='object')

In [0]:
sample.columns = ['cat_0', 'num_0', 'num_1', 'num_2', 'cat_1','num_3', 'num_4', 'num_5', 'num_6', 'num_7']

In [0]:
sample['target'] = True

In [0]:
copy = sample.copy()

In [0]:
copy.target = False

In [0]:
num_cols = [col for col in copy if col.startswith('num')]
cat_cols = [col for col in copy if col.startswith('cat')]

In [167]:
copy

          cat_0  num_0    num_1    num_2  ...    num_5      num_6     num_7  target
14296071   8_61      8  1371165  5192748  ...  5192574    6.51662  0.299849   False
17062545   8_19      8  1371500  5191762  ...  5192574    6.65542  0.469833   False
12244980  7_112      7  1366798  5195570  ...  5192574    5.52073  0.227667   False
6660315   7_247      7  1366658  5194416  ...  5192574    5.57037  0.358402   False
2146385   7_636      7  1369766  5192655  ...  5192574    6.13108  0.493891   False
...         ...    ...      ...      ...  ...      ...        ...       ...     ...
10996768  7_462      7  1372229  5192626  ...  5192574   20.06174  0.177909   False
10770548  7_800      7  1364831  5189964  ...  5192574  215.40120  0.001037   False
15571536  7_892      7  1372665  5194728  ...  5192574    6.66418  0.341625   False
13484078  7_560      7  1371475  5190363  ...  5192574   65.09570  0.084328   False
17220638  6_240      6  1371679  5193992  ...  5192574   15.05441  0.149368   False

[50000 rows x 11 columns]

In [0]:
copy['first'] = np.random.randint(1, 10, copy.shape[0])
copy['last'] = np.random.randint(1, 1000, copy.shape[0])

for c in cat_cols:
  copy[str(c)] = copy['last'].map(str) + "_" + copy['first'].map(str)

for c in num_cols:
  copy[c] = -1

copy.drop(['first', 'last'], axis=1, inplace=True)

In [169]:
sample, copy

(          cat_0  num_0    num_1    num_2  ...    num_5      num_6     num_7  target
 14296071   8_61      8  1371165  5192748  ...  5192574    6.51662  0.299849    True
 17062545   8_19      8  1371500  5191762  ...  5192574    6.65542  0.469833    True
 12244980  7_112      7  1366798  5195570  ...  5192574    5.52073  0.227667    True
 6660315   7_247      7  1366658  5194416  ...  5192574    5.57037  0.358402    True
 2146385   7_636      7  1369766  5192655  ...  5192574    6.13108  0.493891    True
 ...         ...    ...      ...      ...  ...      ...        ...       ...     ...
 10996768  7_462      7  1372229  5192626  ...  5192574   20.06174  0.177909    True
 10770548  7_800      7  1364831  5189964  ...  5192574  215.40120  0.001037    True
 15571536  7_892      7  1372665  5194728  ...  5192574    6.66418  0.341625    True
 13484078  7_560      7  1371475  5190363  ...  5192574   65.09570  0.084328    True
 17220638  6_240      6  1371679  5193992  ...  5192574   15.05441  0.149368    True

 [50000 rows x 11 columns],
           cat_0  num_0  num_1  num_2  cat_1  ...  num_4  num_5  num_6  num_7  target
 14296071  732_1     -1     -1     -1  732_1  ...     -1     -1     -1     -1   False
 17062545  243_2     -1     -1     -1  243_2  ...     -1     -1     -1     -1   False
 12244980  583_1     -1     -1     -1  583_1  ...     -1     -1     -1     -1   False
 6660315   581_3     -1     -1     -1  581_3  ...     -1     -1     -1     -1   False
 2146385   423_5     -1     -1     -1  423_5  ...     -1     -1     -1     -1   False
 ...         ...    ...    ...    ...    ...  ...    ...    ...    ...    ...     ...
 10996768  838_8     -1     -1     -1  838_8  ...     -1     -1     -1     -1   False
 10770548  656_4     -1     -1     -1  656_4  ...     -1     -1     -1     -1   False
 15571536  506_6     -1     -1     -1  506_6  ...     -1     -1     -1     -1   False
 13484078  277_4     -1     -1     -1  277_4  ...     -1     -1     -1     -1   False
 17220638  194_7     -1     -1     -1  194_7  ...     -1     -1     -1     -1   False

 [50000 rows x 11 columns])

In [0]:
sample.reset_index(drop=True, inplace=True)
copy.reset_index(drop=True, inplace=True)
sample_concate = pd.concat([sample, copy])

In [0]:
sample_concate = shuffle(sample_concate); sample_concate.reset_index(inplace=True, drop=True)

In [173]:
sample_concate.head(), sample_concate.tail()

(   cat_0  num_0    num_1    num_2  ...    num_5      num_6     num_7  target
 0   59_9     -1       -1       -1  ...       -1   -1.00000 -1.000000   False
 1  7_760      7  1365677  5189798  ...  5192574   48.61588  0.043129    True
 2  7_178      7  1365025  5198211  ...  5192574  123.07150  0.004367    True
 3  7_527      7  1371038  5188935  ...  5192574  192.19397  0.003022    True
 4   38_4     -1       -1       -1  ...       -1   -1.00000 -1.000000   False

 [5 rows x 11 columns],
        cat_0  num_0    num_1    num_2  ...    num_5    num_6     num_7  target
 99995  958_8     -1       -1       -1  ...       -1 -1.00000 -1.000000   False
 99996  601_6     -1       -1       -1  ...       -1 -1.00000 -1.000000   False
 99997  3_243      3  1375626  5185962  ...  5192574  5.91108  0.302989    True
 99998  460_7     -1       -1       -1  ...       -1 -1.00000 -1.000000   False
 99999  3_277      3  1374809  5191218  ...  5192574  6.71627  0.313561    True

 [5 rows x 11 columns])

In [0]:
sample_concate.to_csv('/content/drive/My Drive/04_Cloud/01_Work/GNS/CDF_2019/4Rob/output_algorithm_data_sample/sample{}.csv'.format(len(sample_concate)), index=False)

In [175]:
!ls

36830_20000.csv  sample100000.csv  sample50K.csv  samplingFromDataset.ipynb